.user-manager {
  background-image: url(../../../assets/images/home/manage-users.png);
}

.product-manager {
  background-image: url(../../../assets/images/home/manage-product.png);
}

.product-series-manager {
  background-image: url(../../../assets/images/home/manage-product-series.png);
}

.content {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 250px;
  height: 200px;
  padding:25px;
  cursor:pointer;
}
.content:hover {
  border: none;
}
